<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>EcoAware</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="~/images/EcoAware-removebg-preview.png">

    <!-- CSS here -->
    <link rel="stylesheet" href="~/frontend/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/frontend/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/frontend/css/ticker-style.css">
    <link rel="stylesheet" href="~/frontend/css/flaticon.css">
    <link rel="stylesheet" href="~/frontend/css/slicknav.css">
    <link rel="stylesheet" href="~/frontend/css/animate.min.css">
    <link rel="stylesheet" href="~/frontend/css/magnific-popup.css">
    <link rel="stylesheet" href="~/frontend/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/frontend/css/themify-icons.css">
    <link rel="stylesheet" href="~/frontend/css/slick.css">
    <link rel="stylesheet" href="~/frontend/css/nice-select.css">
    <link rel="stylesheet" href="~/frontend/css/style.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">


    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <style>
        #map {
            height: 500px;
            width: 100%;
        }
    </style>
    <!-- Inline Animation -->

    

</head>

<body>
    @await Html.PartialAsync("_Notifications")
    <!-- Preloader Start -->
    <!-- <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="~/frontend/img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
    </div> -->
    <!-- Preloader Start -->
    
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header ">
                <div class="header-top black-bg d-none d-md-block">
                    <div class="container">
                        <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left">
                                    <ul>
                                        <li>
                                            <img src="~/frontend/img/icon/header_icon1.png" alt="Weather Icon">
                                            <span id="weather">Loading weather...</span>
                                        </li>
                                        <li>
                                            <img src="~/frontend/img/icon/header_icon2.png" alt="Time Icon">
                                            <span id="date-time">Loading date and time...</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="header-info-right">
                                    <ul class="header-social">
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li> <a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-mid d-none d-md-block">
                    <div class="container">
                        <div class="row d-flex align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-3 col-lg-3 col-md-3">
                                <div class="logo">
                                    <a href="/"><img src="~/images/Be Aware, Be Eco.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-9 col-lg-9 col-md-9">
                                <div class="header-banner f-right ">
                                    <img src="~/frontend/img/hero/header_card.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-bottom header-sticky">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xl-10 col-lg-10 col-md-12 header-flex">
                                <!-- sticky -->
                                <div class="sticky-logo">
                                    <a href="/"><img src="~/images/Be Aware, Be Eco.png" alt=""></a>
                                </div>
                                <!-- Main-menu -->
                                <div class="main-menu d-none d-md-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a asp-route="trangchu">Home</a></li>
                                            <li><a asp-route="FAQ">FAQ</a></li>
                                            <li><a asp-route="Blog">Blog</a></li>
                                            <li><a asp-route="Contact">Contact</a></li>
                                          
                                            
                                            @if (User.Identity.IsAuthenticated)

                                            {
                                                <li class="nav-item">
                                                    <!-- Hiển thị tên người dùng -->
                                                    <a class="nav-link" asp-route="profile">@User.Identity.Name</a>
                                                </li>
                                                <li class="nav-item">
                                                    <!-- Nút Logout -->
                                                    <a class="nav-link" asp-route="dangxuat">Logout</a>
                                                </li>
                                            }

                                            else

                                            {
                                                <li class="nav-item">
                                                    <!-- Nút Login -->
                                                    <a class="nav-link" asp-route="dangnhap">Log in</a>
                                                </li>
                                                <li class="nav-item">
                                                    <!-- Nút Login -->
                                                    <a class="nav-link" asp-route="dangky">Sign up</a>
                                                </li>
                                            }
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-4">
                                <div class="header-right-btn f-right d-none d-lg-block">
                                    <i class="fas fa-search special-tag"></i>
                                    <div class="search-box">
                                        <form action="#">
                                            <input type="text" placeholder="Search">

                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-md-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>

    @RenderBody()

    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-padding fix">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-5 col-lg-5 col-md-7 col-sm-12">
                        <div class="single-footer-caption">
                            <div class="single-footer-caption">
                                <!-- logo -->
                                <div class="footer-logo">
                                    <a href="index.html"><img src="~/images/Be_Aware__Be_Eco-removebg-preview.png" alt=""></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p>Suscipit mauris pede for con sectetuer sodales adipisci for cursus fames lectus tempor da blandit gravida sodales  Suscipit mauris pede for con sectetuer sodales adipisci for cursus fames lectus tempor da blandit gravida sodales  Suscipit mauris pede for sectetuer.</p>
                                    </div>
                                </div>
                                <!-- social -->
                                <div class="footer-social">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4  col-sm-6">
                        <div class="single-footer-caption mt-60">
                            <div class="footer-tittle">
                                <h4>Newsletter</h4>
                                <p>Heaven fruitful doesn't over les idays appear creeping</p>
                                <!-- Form -->
                                <div class="footer-form">
                                    <div id="mc_embed_signup">
                                        <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                              method="get" class="subscribe_form relative mail_part">
                                            <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                                                   class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                                   onblur="this.placeholder = ' Email Address '">
                                            <div class="form-icon">
                                                <button type="submit" name="submit" id="newsletter-submit"
                                                        class="email_icon newsletter-submit button-contactForm">
                                                    <img src="~/frontend/img/logo/form-iocn.png" alt="">
                                                </button>
                                            </div>
                                            <div class="mt-10 info"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                        <div class="single-footer-caption mb-50 mt-60">
                            <div class="footer-tittle">
                                <h4>Instagram Feed</h4>
                            </div>
                            <div class="instagram-gellay">
                                <ul class="insta-feed">
                                    <li><a href="#"><img src="~/images/Banner/Footer (2).png" alt=""></a></li>
                                    <li><a href="#"><img src="~/frontend/img/post/instra2.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="~/images/Banner/Footer (3).png" alt=""></a></li>
                                    <li><a href="#"><img src="~/images/Banner/Footer (4).png" alt=""></a></li>
                                    <li><a href="#"><img src="~/images/Banner/Footer (5).png" alt=""></a></li>
                                    <li><a href="#"><img src="~/images/Banner/Footer.png" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom aera -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex align-items-center justify-content-between">
                        <div class="col-lg-6">
                            <div class="footer-copy-right">
                                <p>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="footer-menu f-right">
                                <ul>
                                    <li><a href="#">Terms of use</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>

    <!-- JS here -->
    <!-- All JS Custom Plugins Link Here here -->
    <script src="~/frontend/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="~/frontend/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/frontend/js/popper.min.js"></script>
    <script src="~/frontend/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="~/frontend/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="~/frontend/js/owl.carousel.min.js"></script>
    <script src="~/frontend/js/slick.min.js"></script>
    <!-- Date Picker -->
    <script src="~/frontend/js/gijgo.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="~/frontend/js/wow.min.js"></script>
    <script src="~/frontend/js/animated.headline.js"></script>
    <script src="~/frontend/js/jquery.magnific-popup.js"></script>

    <!-- Breaking New Pluging -->
    <script src="~/frontend/js/jquery.ticker.js"></script>
    <script src="~/frontend/js/site.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="~/frontend/js/jquery.scrollUp.min.js"></script>
    <script src="~/frontend/js/jquery.nice-select.min.js"></script>
    <script src="~/frontend/js/jquery.sticky.js"></script>

    <!-- contact js -->
    <script src="~/frontend/js/contact.js"></script>
    <script src="~/frontend/js/jquery.form.js"></script>
    <script src="~/frontend/js/jquery.validate.min.js"></script>
    <script src="~/frontend/js/mail-script.js"></script>
    <script src="~/frontend/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="~/frontend/js/plugins.js"></script>
    <script src="~/frontend/js/main.js"></script>

    <!-- Nhúng JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Các script bổ sung -->
    @RenderSection("Scripts", required: false)

    <script>
        // Hàm lấy thời gian thực
        function updateDateTime() {
            const now = new Date();
            const options = { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric' };
            const formattedDate = now.toLocaleDateString('en-US', options);
            const formattedTime = now.toLocaleTimeString('en-US');

            // Cập nhật nội dung cho span
            const dateTimeElement = document.getElementById('date-time');
            dateTimeElement.textContent = `${formattedDate}, ${formattedTime}`;
        }

        // Cập nhật thời gian mỗi giây
        setInterval(updateDateTime, 1000);

        // Lấy thời tiết từ API OpenWeatherMap
             async function fetchWeather() {
            const apiKey = 'YOUR_API_KEY_HERE'; // Thay bằng API Key của bạn
            const city = 'Ho Chi Minh City';
            const url = `https://api.openweathermap.org/data/2.5/weather?q=${city}&units=metric&appid=${apiKey}`;

            try {
                const response = await fetch(url);
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }

                const data = await response.json();
                const weather = `${Math.round(data.main.temp)}ºC, ${data.weather[0].description}`;

                // Cập nhật nội dung cho span
                const weatherElement = document.getElementById('weather');
                weatherElement.textContent = weather;
            } catch (error) {
                console.error('Error fetching weather data:', error.message);
                const weatherElement = document.getElementById('weather');
                weatherElement.textContent = `Unable to fetch weather`;
            }
        }

        // Gọi hàm fetchWeather khi trang tải
        fetchWeather();
    </script>

</body>
</html>